@import url(https://fonts.googleapis.com/css?family=Montserrat);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #e4e4e4;
  font-family: 'Montserrat', sans-serif;
  background-color: #222222;
}

.ticTacToe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}
.ticTacToe .square {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  color: #e4e4e4;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 5px;
  color: #e4e4e4;
  line-height: 40px;
}

.status-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e4e4e4;
  height: 20px;
  line-height: 20px;
  color: #e4e4e4;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1em;
  padding: .5em 1.5em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #282828;
  box-sizing: content-box;
  cursor: pointer;
  zoom: 1;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.status-btn:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #e4e4e4;
  color: #222222;
}

.status-btn:focus {
  outline: none;
}

.hidden {
  display: none;
}
